<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tourlist">
	<select id="list" resultType="tldto" parameterType="spdto">
		select * from (select rownum r_num, t.* from (select * from tourlist
		<where>
			<if test="searchtitle != null">
		        title like	'%' || #{searchtitle} || '%'
		    </if>
		    <if test="searchregion != null">
		        region like '%' || #{searchregion} || '%'
		    </if>
		</where>
		 order by 1 desc) t) where r_num between #{start} and #{end}
	</select>
	
	<resultMap type="tldto" id="withafter">
		<id property="num" column="num" javaType="int"/>
		<result property="title" column="title"/>
		<result property="region" column="region"/>
		<result property="content" column="content"/>
		<result property="tourdate" column="tourdate" javaType="int"/>
		<result property="imga" column="imga"/>
		<result property="imgb" column="imgb"/>
		<result property="imgc" column="imgc"/>
		<collection property="tourafters" javaType="java.util.List" ofType="atdto">
			<result property="title" column="atitle"/>
			<result property="content" column="acontent"/>
			<result property="booker" column="booker"/>
			<result property="imgn" column="imgn"/>
			<result property="stars" column="stars" javaType="int"/>
		</collection>
	</resultMap>
	
	<select id="detail" resultMap="withafter" parameterType="int">
		select t.num,t.title,t.region,t.content,t.tourdate,t.imga,t.imgb,t.imgc,a.title as atitle,a.content as acontent,a.booker,a.imgn,a.stars  from tourlist t,aftertour a  where t.num = a.tournum and t.num = #{num}
	</select>
	<insert id="add" parameterType="tldto">
		insert into tourlist values(tourlist_seq.nextVal,#{title},#{region},#{content},#{tourdate},#{imga},#{imgb},#{imgc},sysdate,sysdate)
	</insert>
	<delete id="delete" parameterType="int">
		delete form tourlist where num = #{num}
	</delete>
	<update id="update" parameterType="tldto">
		update from tourlist set title = #{title}, region = #{region}, content = #{content},tourdate = #{tourdate}, imga = #{imga}, imgb = #{imgb}, imgc = #{imgc}, updatedate = sysdate where num = #{num}
	</update>
	<select id="total" resultType="int" parameterType="spdto">
		select count(*) from tourlist
		<where>
			<if test="searchtitle != null">
		        title like	'%' || #{searchtitle} || '%'
		    </if>
		    <if test="searchregion != null">
		        region like '%' || #{searchregion} || '%'
		    </if>
		</where>
	</select>
</mapper>