<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.project.www.dto.TourListDTO" alias="tldto"/>
 		<typeAlias type="com.project.www.dto.AfterTourDTO" alias="atdto"/>
 		<typeAlias type="com.project.www.dto.BookingDTO" alias="bidto"/>
 		<typeAlias type="com.project.www.dto.SearchPageDTO" alias="spdto"/>
 	</typeAliases>
 </configuration>